<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">

    <Appenders>
        <Console name="Appender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss SSS} [%F] [%level] %logger{36} %msg%n"/>
        </Console>
        <File name="getFile" fileName="Calculator.log" immidiateFlush="true" append="true">
            <PatternLayout>
                <Pattern>%d{yyy-MM-dd HH:mm:ss.SSS} [%F] [%level] %logger{36} %msg%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="Calculator" level="debug" additivity="false">
            <AppenderRef ref="getFile"/>
            <AppenderRef ref="Appender"/>
        </Logger>

        <Root level="debug">
            <AppenderRef ref="getFile"/>
            <AppenderRef ref="Appender"/>
        </Root>
    </Loggers>
</Configuration>